.cartWrapper {
  display: flex;
  flex-direction: row;
}

.cartItems {
  padding: 3rem;
  width: 60%;
}

.cartItems h2 {
  padding-bottom: 1rem;
}

.cartSummary {
  padding: 3rem;
  width: 25%;

  font-size: 1.25rem;
}

.cartSummary h2 {
  margin-bottom: 1rem;
}

.cartSummary p {
  margin-bottom: 0.5rem;
}

.cartSummary hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.cartSummaryRow {
  display: flex;
  justify-content: space-between;
}

.cartSummary button {
  margin-left: 0rem;
  background-color: var(--color-green-alt);
  width: 100%;
}

.cartSummary button:hover {
  background-color: var(--color-green-alt-hover);
}
