.cartWrapper {
  display: flex;
  flex-direction: column;
}

.cartItems {
  padding: 3rem;
  width: 60%;
}

.cartItems h2 {
  padding-bottom: 1rem;
}

.cartSummary {
  padding: 3rem;
  width: 100%;
  font-size: 1.25rem;

  display: flex;
  flex-direction: column;
}

.cartSummary h2 {
  margin-bottom: 1rem;
}

.cartSummary p {
  margin-bottom: 0.5rem;
}

.cartSummary hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.cartSummaryRow {
  display: flex;
  justify-content: space-between;
}

.cartSummary button {
  margin-left: 0rem;
  background-color: var(--color-green-alt);
  width: 100%;
}

.cartSummary button:hover {
  background-color: var(--color-green-alt-hover);
}

/* widths 480 or more */
@media (min-width: 480px) {
}

/* widths 768 or more */
@media (min-width: 768px) {
}

/* widths 1080 or more */
@media (min-width: 1080px) {
  .cartWrapper {
    flex-direction: row;
  }
  .cartSummary {
    padding: 3rem;
    width: 25%;
    font-size: 1.25rem;

    display: block;
    /* flex-direction: row; */
  }
}
