.hero {
  height: 200px;
  width: 100vw;
  background-size: cover;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 480px) {
  .hero {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 300px;
  }
}

@media (min-width: 1080px) {
  .hero {
    height: 400px;
  }
}
