.topmenu {
  color: var(--color-theme-main);
  background-color: var(--color-white);
  font-weight: 700;
  display: flex;
  width: 100vw;
  min-width: 100%;
  justify-content: space-evenly;
  align-items: center;

  padding: 1rem 0;
}

.topmenu a,
.topmenu a:visited {
  color: var(--color-theme-main);
}
